<main class='bg-dark' id='update-page'>
    <div class="jumbotron jumbotron-fluid bg-dark text-center pt-5 pb-3 mb-0">
        <div class="container text-light">
          <h1 class="display-4">Song Database</h1>
          <p class="lead my-3">Create your own database of your favorite songs.</p>
          <p>Update a song title, artist or genre.</p>
        </div>
    </div>

    <form class='text-light mx-5'>
        <div class='switch-container' id='update-radio-container'>
            <div class="form-check">
                <label class="form-check-label switch" for='title-update'>
                    <input class='form-check-input' type="radio" name="search-type" id="title-update" value="title" checked>
                    <span class="slider"></span>
                    <span class='label'>Song</span>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label switch" for="artist-update">
                    <input class="form-check-input" type="radio" name="search-type" id="artist-update" value="artist">
                    <span class="slider"></span>
                    <span class='label'>Artist</span>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label switch" for="genre-update">
                    <input class="form-check-input" type="radio" name="search-type" id="genre-update" value="genre">
                    <span class="slider"></span>
                    <span class='label'>Genre</span>
                </label>
            </div>
        </div>
    </form>

    <form class='text-light mx-5' method='POST' action='/update'>
        <div class='container'>
            <div class='col-md-8 mx-auto mt-3'>
                <div class="form-group">
                    <label for="ref-input" id='ref-label'>Enter Current Title</label>
                    <input type="text" class="form-control" id="ref-input" name='update-ref'>
                    <label for="update-input" id='update-label'>Enter New Title</label>
                    <input type="text" class="form-control" id="update-input" name='update-input'>
                </div>
                <button id='update-btn' type="submit" class="btn btn-warning text-light px-5">Update</button>
            </div>
        </div>
    </form>

    <div class='text-white'>
        <p id='update-msg'></p>
    </div>
</main>